.dropDownMenu {
  display: none;
}

.container {
  display: none;
}

@media (max-width: 767px) {

  .container {
    display: flex;
    flex-direction: column;
    width: 100vw;

  }

  .dropDownMenuButton {
    display: flex;
    justify-content: space-between;
    padding: 1vw 3vw;
    border: 1px solid rgba(var(--header-text-rgb), .4);
    width: 100%;
  }

  .dropDownMenuIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(var(--header-text-rgb), 1);
    width: 4vw;
    height: 4vw;
  }

  .dropDownMenu {
    flex-direction: column;
  }

  .dropDownMenu :any-link {
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    width: 100vw;
    background-color: rgba(var(--main-background-rgb), 1);
  }
}